.center{
    justify-content: center;
    align-content: center;
}
.flex{
    display: flex;
}
.btn{
    padding: 5px;
    border-radius: 10px;
    max-width: 80px;
}
.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

input{
    max-width: 100px;
    display: flex;
}
.gap{
    
    gap: 10px;
}

.none{
    display: none;
}

